<a href="/players">Player Index</a>
<a href="/teams">Teams Index</a>
<a href="/teams/<%= @team.id %>/players/new">Create Player</a>

<h1>Teams Players</h1>
<h3>Team: <%= @team.name %></h3>

<%= link_to "Sort #{@team.name}'s Players Alphabetically", "/teams/#{@team.id}/players?sort=alpha" %>

<% @players.each do |player| %>
  <p>Player: <%= player.name %></p>
  <p>Position: <%= player.position %></p>
  <p>Age: <%= player.age %></p>
  <p>Retired: <%= player.retired %></p>
  <%= button_to "Update #{player.name}", "/players/#{player.id}/edit", method: :get %>
<% end  %>
