<a href="/players">Player Index</a>
<a href="/teams">Teams Index</a>
<a href="/players/<%= @player.id %>/edit">Update <%= @player.name %></a>

<h1>Player ID: <%= @player.id %></h1>
<p>Player: <%= @player.name %></p>
<p>Position: <%= @player.position %></p>
<p>Age: <%= @player.age %></p>
<p>Retired: <%= @player.retired %></p>

<%= button_to "Delete #{@player.name}", "/players/#{@player.id}", method: :delete %>